body {
    margin: 0;
    padding: 0;
    color: #ccc;
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
    /*font-size: 12px;*/
    /*line-height: 18px;*/
    background-color: #0a6298;
    background-image: url(/resources/images/templatemo_body.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

/*h1, h2, h3, h4, h5, h6 {*/
    /*color:#fff;*/
    /*font-weight:400;*/
    /*padding: 0;*/
    /*margin: 0 0 10px 0;*/
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
/*}*/

/*h1 { font-size:34px; margin-bottom: 35px  }*/
/*h2 { font-size:26px; margin-bottom: 30px; line-height: 30px; }*/
/*h3 { font-size:20px; line-height: 24px }*/
/*h4 { font-size:18px }*/
/*h5 { font-size:16px }*/
/*h6 { font-size:12px }*/

/*.left { float:left }*/
/*.right { float:right }*/
/*.clear { clear: both }*/
/*.h10 { height: 10px }*/
/*.h20 { height: 20px }*/
/*.h30 { height: 30px }*/
/*.h60 { height: 60px }*/

/*img { margin: 0; padding: 0; border: 0; }*/

/*p { margin: 0 0 10px 0; padding: 0 }*/
/*em { color: #fff }*/

/*label { display: block; }*/
/*input { margin-bottom: 10px }*/

/*a:link, a:visited { color:#fff; text-decoration: none}*/
/*a:hover { text-decoration:underline }*/
/*a:hover,a:active { outline:none }*/

/*a.more { display: inline-block; text-decoration: none; margin-top: 15px; color: #00385b; width: 106px; height: 24px; line-height: 24px; text-align: center; background: url(images/templatemo_more.png) }*/

.content_wrapper { overflow: hidden; width: 100% }

/*.left {float:left }*/
/*.right {float:right }*/
/*.no_margin_right {margin-right:0 !important;}*/
/*.margin_bottom { margin-bottom: 30px }*/

#templatemo_wrapper {
    width: 980px;
    margin: 0 auto;
    padding: 40px 10px 0;
}
#templatemo_header {
    position: relative;
    width: 100%;
    height: 75px;
    z-index: 3;
}

#templatemo_middle {
    position: relative;
    width: 900px;
    margin-top: -5px;
    min-height: 577px;
    padding: 30px 40px;
    background: #efefef;
    z-index: 1;
    border-radius: 6px;

}
#templatemo_top {
    height: 40px;
    margin-bottom: 40px;
}

#templatemo_main { clear: both; margin: 20px 0; padding: 20px 40px }


#templatemo_footer_wrapper {
    clear: both;
    width: 100%;
    background: #efefef;
}
#templatemo_footer {
    width: 900px;
    margin: 0 auto;
    padding: 50px;
}

#templatemo_footer { color: #5d676e; font-size: 11px; }
#templatemo_footer a { color: #5d676e; }
#templatemo_footer h4 { color: #333333 }
#templatemo_copyright {
    margin-top: 40px;
    color: #999999;
    text-align: center;
    width: 900px;
    height: 52px;
    line-height: 52px;
    background: url(/resources/images/templatemo_copyright.png) center
}


#user {
    float: right;
}
#name {
    float: left;
    width: 250px;
}


